.activate-user-container {
  max-width: 700px !important;
  min-height: calc(100vh - 100px) !important;
  margin: 0 auto !important;
  text-align: center !important;
}

.activate-user-feedback {
  width: 100% !important;
  padding: 0 !important;
  text-align: center !important;
}

.navigate-button {
  color: #fff !important;
  font-size: 16px !important;
  font-weight: bold !important;
  border-radius: 4px !important;
  letter-spacing: 1px !important;
  border: 2px solid #333 !important;
  border-radius: 8px !important;
  background-color: #333 !important;
  transition: "all 0.5s ease-in-out" !important;
  margin: 16px auto 0 auto !important;
}
.navigate-button:hover {
  border: 2px solid #333 !important;
  background-color: #be9063 !important;
  color: #fff !important;
}
