.profile-content-container {
  display: flex !important;
  max-width: 1600px !important;
  padding-bottom: 40px !important;
}

.profile-content {
  width: 75% !important;
  padding: 0 !important;
  text-align: left !important;
}

.edit-profile-button {
  color: #fff !important;
  font-size: 16px !important;
  font-weight: bold !important;
  border-radius: 4px !important;
  letter-spacing: 1px !important;
  border: 2px solid #333 !important;
  background-color: #333 !important;
  transition: all 0.5s ease-in-out !important;
}
.edit-profile-button:hover {
  background-color: #be9063 !important;
}

@media (max-width: 1000px) {
  .profile-content-container {
    display: block !important;
    height: fit-content !important;
  }

  .profile-content {
    max-width: 700px !important;
    width: 100% !important;
    text-align: left !important;
  }
}
