.only-user-item {
  color: #be9063 !important;
  padding-bottom: 10px !important;
  text-align: left !important;
}

.only-user-item span {
  color: #333 !important;
  margin-left: 2px !important;
  font-weight: normal !important;
}

.only-user-item:hover {
  cursor: pointer !important;
}

.only-user-item:hover span {
  text-decoration: underline !important;
}
