#open_nav {display: table;}
#open_nav:hover {cursor: pointer;}
#open_nav:hover #line2 {animation: open_nav_animation .5s ease-in-out;}
@keyframes open_nav_animation {
    0% {width: 20px;}
    50% {width: 30px;}
    100% {width: 20px;}
}

#open_nav #line1, #line2 {
    width: 30px;
    height: 4px;
    background-color: #ffffff;
}

#open_nav #line2 {
    margin: .35rem 0;
    width: 20px;
}

#navbar_links {
    position: relative;

    display: flex;
    flex-direction: row;
}

#navbar_links a { 
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: bold;
    color: #ffffff;

    margin: 0 16px;
    text-decoration: none;
    text-align: center;
    width: fit-content;

    position: relative;
}

#navbar_links a:before {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);

    width: 0;
    height: 3px;
    background-color: #ffffff;

    transition: .5s all;
}

#navbar_links a:hover:before {width: 25px;}