.pagination-container {
  display: flex !important;
  justify-content: left !important;
  justify-content: space-between !important;
  margin: 4px 16px !important;
  margin-left: 4px !important;
  align-items: center !important;
}

.page-size-selector {
  display: flex !important;
  align-items: center !important;
}

.page-size-textbox {
  padding: 0 !important;
}

.page-selector {
  display: flex !important;
  flex-wrap: wrap !important;
  max-width: 400px;
  align-items: center !important;
}

.change-page-arrow {
  font-size: 32px !important;
  color: gray !important;
  transition: all 0.5s ease-in-out !important;
}

.change-page-arrow:hover {
  cursor: pointer !important;
  color: #333 !important;
}

.page-number {
  margin: 0 2px !important;
  padding: 3px 8px !important;
  border-radius: 8px !important;
}

.page-number:hover {
  cursor: pointer !important;
  background-color: lightgray !important;
}

.selected-page {
  background-color: #be9063 !important;
  color: #fff !important;
}
