.sale-item-container {
  width: 100% !important;
  transition: all 0.5s ease-in-out !important;
}

.sale-item {
  display: flex !important;
  width: 100% !important;
  box-shadow: none !important;
  transition: all 0.5s ease-in-out !important;
}

.sale-item-text {
  display: flex !important;
  flex-direction: column !important;
  justify-content: end !important;
}

.sale-item-text span {
  font-size: 20px !important;
  font-weight: normal !important;
  display: flex !important;
}

.sale-item-text span .sale-item-line {
  margin-left: 8px !important;
  margin-right: 0 !important;
}

.sale-item-line {
  flex-grow: 1 !important;
  flex-shrink: 0 !important;
  flex-basis: 0 !important;
  min-width: 32px !important;
  border-bottom: 2px dashed #333 !important;
  transform: translateY(-8px) !important;
  margin: 0 8px 0 0 !important;

  display: flex !important;
  flex-direction: column !important;
  justify-content: end !important;
}

.sale-sub-header {
  color: #be9063 !important;
  margin-top: 4px !important;
}

@media (max-width: 500px) {
  .sale-item-line {
    transform: translateY(-6px) !important;
  }

  .sale-item-text {
    font-size: 20px !important;
  }
}
