.sales-content-container {
  display: flex !important;
  flex-direction: column;
  width: 100% !important;
  padding: 0 !important;
}

.sales-content {
  width: 100% !important;
  padding: 0 !important;
  text-align: left !important;
}

.add-sale-button {
  color: #fff !important;
  font-size: 16px !important;
  font-weight: bold !important;
  border-radius: 4px !important;
  letter-spacing: 1px !important;
  border: 2px solid #333 !important;
  background-color: #333 !important;
  transition: "all 0.5s ease-in-out" !important;
  margin-top: 0 !important;
}
.add-sale-button:hover {
  border: 2px solid #333 !important;
  background-color: #be9063 !important;
  color: #fff !important;
}

@media (max-width: 1000px) {
  .sales-content {
    text-align: center !important;
  }
}
